@import "variables";

body {
  position: relative;
  margin: 0;
  color: $black;
  font-family: 'Dosis', sans-serif;
  background-color: #DFD9CC;
  background-image: url("/assets/wov.png");
}

header {
  position: fixed;
  z-index: 1;
  background-color: $pink;
  opacity: .8;
  color: $light;
  height: 50px;
  width: 100%;
  border-top: 2px solid $light;
  border-bottom: 2px solid $light;
  h2 {
    font-family: 'Lobster', sans-serif;
    font-style: italic;
    font-size: 33px;
    margin: 0;
    padding: 5px 0 10px 30px;
    // text-shadow: 3px 3px $darkpink;
  }
}
main {
  margin: 0 auto;
  max-width: 1100px;
}
.sidebar {
  top: 50px;
  width: 300px;
  position: fixed;
  z-index: 2;
}
nav, .orderbox {
  background-color: $light;
  border: 2px solid $pink;
  width: 80%;
  margin: 20px auto;
  box-shadow: 3px 3px $darkpink;
  padding-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;

}
li {
  color: $black;
  padding: 6px 0 0 10px;
  text-shadow: 2px 2px $white;
}
a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  display: block;
  text-decoration: none;
  color: $black;
  &:hover{
    color: black;
  }
}
h4 {
  font-size: 19px;
  text-align: center;
  margin: 10px 0;
}
.ordercontent {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding-right: 6px;
  border-bottom: 1px dotted $black;
  max-height: 200px;
  overflow: scroll;
}

.orderbox span {
  padding: 2px 4px 4px 50px;
  display: block;
  border-bottom: 1px dotted $black;
}
.orderbox .currenttax, .orderbox .currenttotal {
  display: block;
  float: right;
  border-bottom: none;
  padding-right: none;
}

.orderitem {
  width: 100%;
  padding: 2px 0;
  span {
    display: inline-block;
    padding: 0;
    border: none;
  }
}
.delete {
  float: left;
  font-size: 8px;
  background: none;
  border: 1px solid $black;
  border-radius: 8px;
  margin: 0 10px 2px 6px;
  outline: none;
}
.itemtax {
  display: block;
  float: right;
}
.placeorder {
  width: 50%;
  display: block;
  margin: 10px auto 0 auto;
  // float: right;
  background: none;
  border: 1px solid $black;
  border-radius: 2px;
}

h1 {
  font-family: 'Lobster', sans-serif;
  color: $black;
  font-size: 50px;
  margin: 20px 0 20px -25px;
  text-align: center;
  text-shadow: 4px 4px $light;
  letter-spacing: 4.5px;
}
.menuwindow {
  padding: 71px 0 0 320px;
  width: auto;
  float: left;
  max-width: 800px;
}
.imagebox {
  display: block;
  background-color: $light;
  width: 99%;
  height: auto;
  max-height: 240px;
  overflow: hidden;
  border: 2px solid $pink;
  border-radius: 5px;
  box-shadow: 3px 3px $darkpink;
  img {
    transition: 3s;
    min-width: 440px;
    width: 100%;
    height: auto;
  }
}
.menucontent {
  background: $light;
  border: 3px solid $darkpink;
  border-radius: 30px;
  padding-bottom: 110px;
}
h3 {
  margin: 0 0 10px 0;
  padding: 60px 0 5px 40px;
  font-size: 32px;
  letter-spacing: 8px;
  text-shadow: 2px 2px $tan;
  border-bottom: 4px dotted $darkpink;
}
.menuitem{
  display: block;
  padding: 4px 20px 7px 40px;
  border-bottom: 2px dotted $darkpink;
  .firstline {
    display: block;
  }
  .itemname {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
  }
  .itemdescription {
    font-style: italic;
    letter-spacing: .5px;
  }
  .itemprice {
    font-size: 18px;
    display: block;
    float:right;
  }
  .iconbox {
    display: inline-block;
    width: 80px;
    margin: 5px 15px 0 0;
    i {
      padding: 0 4px;
      color: $tan;
      transition: 1s;
      &:hover {
        color: $black;
      }
    }
  }
  .order {
    display: block;
    float: right;
    width: 60px;
    background: $white;
    border: 1px solid $black;
    border-radius: 2px;
    outline: none;
  }
}
.orderup {
  position: relative;
  font-family: monospace;
  color: black;
  position: fixed;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  // height: 500px;
  top: 100px;
  left: 25%;
  background-color: $light;
  z-index: 4;
  h2 {
    font-weight: 400;
    text-align: center;
    font-size: 26px;
  }
  .topexit {
    display: block;
    float: right;
    margin: 10px 10px 0 0;
  }
  .confirmbox {
    margin: 10px auto;
    width: 90%;
    border: 1px solid black;
  }
  .orderitem {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px dotted black;
    span {
      padding-left: 14px;
    }
  }
  .itemtax {
    padding-right: 10px;
  }
  .instructionbox, .totalbox {
    // height: 140px;
    position: relative;
    width: 46%;
    margin: 2%;
    float: left;
  }
  .instructionbox span {
    text-align: center;
  }
  textarea {
    font-family: monospace;
    display: block;
    width: 90%;
    margin: 4px auto;
    height: 100px;
    resize: none;
  }
  .totalbox {
    width: 42%;
    height: 130px;
  }
  .totalbox span {
    font-size: 18px;
    display: block;
    // border-bottom: 2px dotted black;
    span {
      float: right;
    }
  }
  .orderexit, #confirmorder {
    background: none;
    border: 1px solid black;
  }
  #confirmorder {
    background-color: white;
    font-size: 18px;
    position: absolute;
    width: 80%;
    right: 10%;
    bottom: 0px;
  }
}
.orderconfirmed {
  position: relative;
  color: black;
  position: fixed;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  height: 400px;
  top: 100px;
  left: 25%;
  background-color: $pink;
  z-index: 4;

  border: 2px solid $darkpink;
  box-shadow: 3px 3px $tan;
  border-radius: 10px;

  p {
    text-align: center;
    font-size: 19px;
  }

  input {
    font-family: 'Dosis', sans-serif;
    display: block;
    margin: 70px auto;
    padding: 10px 0;
    width: 50%;
    font-size: 26px;
    border: 3px solid $darkpink;
    border-radius: 20px;
    box-shadow: 3px 3px $tan;
    background-color: $light;
    outline: none;

  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 150vw;
  background-color: black;
  opacity: .85;
  z-index: 3;
}
.hidden {
  display: none;
}
